# Python bytecode (Compilados)
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (Para que no subás tu DB de pruebas)
paqueteria.db

# Entorno virtual completo (Por si las moscas, aunque ya tenga su propio ignore)
.venv/